In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('numerical_cleaned.csv')

In [6]:
df.drop(['Email'], axis=1)

,Sex,Year,Concentration,Hours spent socializing,Party Attendance,Conversation Starting,Correcting someone,Lottery Ticket Price,Borrowed Money,Reward
0,1,2,Special Concentration,3,3,4,3,2,3,1
1,1,2,Mathematics,3,2,3,3,4,2,1
2,2,3,Sociology,3,3,4,4,3,2,3
3,1,2,Statistics and Computer Science,3,5,4,2,2,3,5
4,2,3,OEB,3,5,4,2,5,2,1
5,2,4,Psychology,2,3,3,2,4,4,3
6,1,3,Government,4,3,3,3,5,3,1
7,2,3,Molecular and Cellular Biology,2,5,4,3,4,4,2
8,2,2,Molecular and Cellular Biology,3,4,3,3,4,2,3
9,1,3,Economics,2,3,2,4,4,4,2
10,1,2,Math,3,3,2,3,3,3,5
11,2,4,Bioengineering,3,3,3,3,3,4,4
12,2,4,Economics,3,4,3,2,3,4,3
13,2,3,History & Science,1,3,5,3,5,2,2
14,2,4,Economics,3,4,2,4,4,3,5
15,2,2,Philosophy,1,4,5,2,5,4,3
16,2,4,Anthropology,4,4,3,3,5,3,3
17,2,2,Economics,3,4,5,3,2,2,1
18,2,3,Sociology,3,4,3,3,3,4,4
19,2,4,Psychology,4,5,3,4,4,4,5
20,1,3,Human Evolutionary Biology,3,4,3,4,4,3,4
21,1,3,Neuroscience,3,3,3,3,5,4,5
22,2,2,Neuroscience,3,4,4,3,4,3,2
23,2,3,Sociology,4,4,3,3,5,4,1
24,2,4,Computer Science,3,3,3,2,4,2,3
25,2,4,Sociology,4,4,4,3,5,3,1
26,2,2,Psychology,2,3,4,3,4,3,1
27,2,3,History,1,3,4,2,5,2,3
28,1,3,Mechanical Engineering,4,3,3,4,2,1,3
29,2,3,Psychology,2,3,4,3,5,3,4
...,...,...,...,...,...,...,...,...,...,...
54,2,2,Chemistry,1,4,4,2,5,3,4
55,2,3,Neuroscience and Social Anthro,1,2,5,3,5,5,1
56,1,2,Music,4,3,2,3,2,2,1
57,1,2,Computer Science,2,3,3,2,5,3,4
58,1,3,Sociology,2,2,4,2,5,4,2
59,2,2,Music,2,4,4,2,5,4,1
60,1,2,Government,3,4,5,4,5,5,2
61,2,3,History and Science,3,3,4,2,2,4,2
62,2,3,Sociology,3,3,3,2,4,1,2
63,1,2,Mechanical Engineering,3,3,4,4,4,2,3
64,2,3,"MCB, Linguistics",2,5,4,4,5,4,3
65,2,4,Government,3,2,4,2,4,4,1
66,2,4,Government,2,2,5,2,3,1,4
67,1,3,MCB,5,5,2,2,5,5,1
68,2,4,Anthropology,3,3,4,4,5,4,1
69,1,2,Economics,1,4,3,3,4,4,5
70,2,3,Psychology,2,3,4,2,5,3,1
71,1,3,Mechanical Engineering,3,3,5,3,5,1,5
72,1,2,Physics,3,3,5,3,2,3,1
73,2,2,Applied Math,3,4,3,3,5,3,4
74,1,4,"joint: history/literature and theater, dance, ...",3,3,3,3,5,4,1
75,2,2,CPB,3,4,4,2,5,3,1
76,2,4,East Asian Studies,3,4,2,2,3,2,3
77,1,2,Statistics,1,2,5,2,5,2,1
78,1,4,Government,3,3,4,1,4,1,5
79,2,3,Mechanical Engineering,1,3,5,2,3,3,1
80,1,2,History and Mathematics,3,4,5,3,3,2,3
81,1,3,Economics,3,3,4,2,2,1,3
82,1,3,Electrical Engineering,3,3,3,2,4,4,2
83,2,4,Neuroscience,3,3,3,3,4,5,1

In [7]:
df['Concentration'].unique()

array(['Special Concentration', 'Mathematics', 'Sociology',
       'Statistics and Computer Science', 'OEB', 'Psychology',
       'Government', 'Molecular and Cellular Biology', 'Economics ',
       'Math', 'Bioengineering ', 'History & Science', 'Economics',
       'Philosophy', 'Anthropology', 'Sociology ',
       'Human Evolutionary Biology', 'Neuroscience', 'Neuroscience ',
       'Computer Science', 'History', 'Mechanical Engineering',
       'Psychology ', 'Philosophy and East Asian studies ',
       'Social Studies', 'HDRB', 'Classics', 'Applied Math/Econ',
       'Folklore and Mythology', 'Applied Math', 'English',
       'Biomedical Engineering', 'Integrative Biology ',
       'Joint concentration', 'Chemistry',
       'Neuroscience and Social Anthro', 'Music', 'History and Science',
       'MCB, Linguistics', 'MCB', 'Mechanical Engineering ', 'Physics ',
       'joint: history/literature and theater, dance, and media', 'CPB',
       'East Asian Studies', 'Statistics', 'History and Mathematics',
       'Electrical Engineering'], dtype=object)