In [5]:
import numpy as np
import pandas as pd
import random

In [3]:
numerical = pd.read_csv('numerical_cleaned.csv')
numerical.head()

,Sex,Year,Concentration,Hours spent socializing,Party Attendance,Conversation Starting,Correcting someone,Lottery Ticket Price,Borrowed Money,Reward,Email
0,1,2,Special Concentration,3,3,4,3,2,3,5,Jamesrose@college.harvard.edu
1,1,2,Mathematics,3,2,3,3,4,2,5,Hroatman@college.harvard.edu
2,2,3,Sociology,3,3,4,4,3,2,3,kathrynglover@college.harvard.edu
3,1,2,Statistics and Computer Science,3,5,4,2,2,3,6,ssadhuka@college.harvard.edu
4,2,3,OEB,3,5,4,2,5,2,5,Sbakaysa@college.harvard.edu

In [52]:
random.seed(6)
def spin_wheel(output = 0):
    odds=[5, 5, 10, 20, 50, 2]
    total_prize = 0
    for i in range(numerical.shape[0]):
        if random.randint(1, odds[numerical.iloc[i]['Reward']-1]) == 1:
            total_prize += odds[numerical.iloc[i]['Reward']-1]
            if output:
                print(numerical.iloc[i]['Email'], " ", odds[numerical.iloc[i]['Reward']-1])
    if output:
        print(total_prize)
    return total_prize

In [56]:
for n in range(1000):
    random.seed(n)
    if spin_wheel()==100:
        print(n)
        break

123

In [57]:
random.seed(n)
spin_wheel(1)

Dgutierrez@college.harvard.edu   10
rhernandez@college.harvard.edu   2
hb3555@gmail.com   2
cjespinoza@college.harvard.edu   5
sarahlynch@college.harvard.edu   50
jlondon@college.harvard.edu   5
Amandayang1@college.harvard.edu   2
ychinlee@college.harvard.edu   5
jbikales@college.harvard.edu   2
jmoriarty@college.harvard.edu   2
samuelmonkley@college.harvard.edu   10
kelleybabphavong@college.harvard.edu   5
100

100